.carousel-wrapper {
   width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  overflow: hidden;
  padding-left: 64px
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
  cursor: grab;
  /* padding: 0 5vw; */
}

.carousel-viewport:active {
  cursor: grabbing;
}

.carousel-track {
  display: flex;
  gap: 24px;
  /* padding: 0 5vw; */
  transition: transform 0.45s ease;
  will-change: transform;
}

.card {
  position: relative;
  min-width: 440px;
  height: 460px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
  
}

/* Gradient (hover) */
.card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(37, 98, 255, 0.9),
    rgba(0, 0, 0, 0.5),
    transparent
  );
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 2;
  pointer-events: none;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.4),
    transparent
  );
  opacity: 1;
  z-index: 1;
  pointer-events: none;
}

.card:hover::after {
  opacity: 1;
}

/* Texto */
.card-info {
  position: absolute;
  bottom: 32px;
  left: 32px;
  color: #fff;
  z-index: 3; /* ← AQUI */
}

.card-info h3 {
  margin: 0;
  font-size: 28px;
  font-weight: 400;
}

.card-info p {
  margin-top: 8px;
  font-size: 18px;
  opacity: 0;
  transform: translateY(12px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}


/* Hover */
.card:hover img {
  transform: scale(1.05);
}

.card:hover .card-info p {
  opacity: 1;
  transform: translateY(0);
}

/* Navegação */
.carousel-nav {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
  width: 100%;
}

.nav {
  width: 52px;
  height: 52px;
  background: #2562ff;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
  .carousel-wrapper {
    padding-left: 0;
  }

  .card {
    min-width: 100%;
  }
}